@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

$fuente:'Kaisei Tokumin', 'Times New Roman', Times, serif;
$colortopabajo:rgb(105, 13, 13);
$colortoparriba:rgb(201, 11, 11);
$paletacolores:$colortoparriba,$colortopabajo;

body{
    font-family: $fuente;
}
header{
    h1{
        font-size: 0.8em;
    }
}
footer{
    background-image: linear-gradient(to top,$colortopabajo,$colortoparriba);
    ul{
        li{
            width: 25px;
        };
    }
}